<ion-header>
  <ion-navbar>
    <ion-title>Authentication</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="authenticationFormGroup" (ngSubmit)="onSubmit(authenticationFormGroup.value)">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email" [(ngModel)]="authenticationForm.email"></ion-input>
    </ion-item>
  
    <ion-item *ngIf="alertFormGroup.controls.email.hasError('required') && alertFormGroup.controls.email.touched">
      <p>The field is required</p>
    </ion-item>

    <ion-item *ngIf="alertFormGroup.controls.email.hasError('maxlength') && alertFormGroup.controls.email.touched">
      <p>The maximum length is 250</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password" [(ngModel)]="authenticationForm.password"></ion-input>
    </ion-item>
  
    <ion-item *ngIf="alertFormGroup.controls.password.hasError('required') && alertFormGroup.controls.password.touched">
      <p>The field is required</p>
    </ion-item>

    <ion-item *ngIf="alertFormGroup.controls.password.hasError('maxlength') && alertFormGroup.controls.password.touched">
      <p>The maximum length is 250</p>
    </ion-item>

    <button ion-button block [disabled]="!authenticationFormGroup.valid" type="submit" icon-left>
      <ion-icon name="log-in"></ion-icon> Sign in
    </button>
  </form>
</ion-content>