page-tabs {
    .ion-ios-home_,
    .ion-ios-home_-outline,
    .ion-md-home_ {
        content: url(../../assets/imgs/black/home.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-favorite_,
    .ion-ios-favorite_-outline,
    .ion-md-favorite_ {
        content: url(../../assets/imgs/black/favorite.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-wallet_,
    .ion-ios-wallet_-outline,
    .ion-md-wallet_ {
        content: url(../../assets/imgs/black/wallet.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-alert_,
    .ion-ios-alert_-outline,
    .ion-md-alert_ {
        content: url(../../assets/imgs/black/alert.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-setting_,
    .ion-ios-setting_-outline,
    .ion-md-setting_ {
        content: url(../../assets/imgs/black/setting.svg);
        width: 24px !important;
        height: 24px !important;
    }
}