page-tabs {
    .ion-ios-cryptocurrency,
    .ion-ios-cryptocurrency-outline,
    .ion-md-cryptocurrency {
        content: url(../../assets/imgs/black/cryptocurrency.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-favorite,
    .ion-ios-favorite-outline,
    .ion-md-favorite {
        content: url(../../assets/imgs/black/favorite.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-wallet,
    .ion-ios-wallet-outline,
    .ion-md-wallet {
        content: url(../../assets/imgs/black/wallet.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-alert,
    .ion-ios-alert-outline,
    .ion-md-alert {
        content: url(../../assets/imgs/black/alert.svg);
        width: 24px !important;
        height: 24px !important;
    }

    .ion-ios-setting,
    .ion-ios-setting-outline,
    .ion-md-setting {
        content: url(../../assets/imgs/black/setting.svg);
        width: 24px !important;
        height: 24px !important;
    }
}