<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only *ngIf="isRegistered" (click)="onInsertAlertButtonClicked()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Alerts</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onRefreshAlertsButtonClicked()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onFilterTriggered($event)"></ion-searchbar>

  <ion-list inset>
    <ion-item *ngFor="let filteredAlert of filteredAlerts">
      <ion-avatar item-start>
        <img src="../../assets/imgs/alert.svg" />
      </ion-avatar>

      <h3>{{ filteredAlert.name }}</h3>

      <button ion-button round *ngIf="isRegistered" (click)="onAlertOverviewButtonClicked(filteredAlert)" item-end>
          <img src="../../assets/imgs/overview.svg" />
      </button>

      <button ion-button round *ngIf="isRegistered" (click)="onUpdateAlertButtonClicked(filteredAlert)" item-end>
        <ion-icon name="clipboard"></ion-icon>
      </button>

      <button ion-button round *ngIf="isRegistered" (click)="onDeleteAlertButtonClicked(filteredAlert)" item-end>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>