<ion-header>
  <ion-navbar>
    <ion-title>Cryptocurrencies</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onRefreshCryptocurrenciesButtonClicked()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onFilterTriggered($event)"></ion-searchbar>

  <ion-list inset>
    <ion-item-sliding *ngFor="let filteredCryptocurrency of filteredCryptocurrencies">
      <button ion-item (click)="onOverviewCryptocurrencyButtonClicked(filteredCryptocurrency)">
        <ion-avatar item-start>
          <img src="{{ filteredCryptocurrency.imageUrl }}" />
        </ion-avatar>
  
        <h3>{{ filteredCryptocurrency.name }}</h3>
        <p>{{ filteredCryptocurrency.symbol }}</p>
      </button>

      <ion-item-options side="right">
        <button ion-button color="light" (click)="onCryptocurrencyChartButtonClicked(filteredCryptocurrency)" icon-start>
          <ion-icon name="chart"></ion-icon>
          Chart
        </button>

        <button ion-button *ngIf="isRegistered" (click)="onInsertFavoriteButtonClicked(filteredCryptocurrency)" icon-start>
          <ion-icon name="favorite"></ion-icon>
          Favorite
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>