<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only *ngIf="isRegistered" (click)="onInsertSettingButtonClicked()">
        <ion-icon name="insert"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>My settings</ion-title>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="isRegistered" (click)="onRefreshSettingsButtonClicked()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onFilterTriggered($event)"></ion-searchbar>

  <ion-list inset>
    <ion-item *ngFor="let filteredSetting of filteredSettings">
      <ion-avatar item-start>
        <ion-icon name="setting_"></ion-icon>
      </ion-avatar>

      <h3>{{ filteredSetting.name }}</h3>

      <button ion-button round *ngIf="isRegistered" (click)="onSettingOverviewButtonClicked(filteredSetting)" item-end>
        <ion-icon name="overview"></ion-icon>
      </button>

      <button ion-button round *ngIf="isRegistered" (click)="onUpdateSettingButtonClicked(filteredSetting)" item-end>
        <ion-icon name="update"></ion-icon>
      </button>

      <button ion-button round *ngIf="isRegistered" (click)="onDeleteSettingButtonClicked(filteredSetting)" item-end>
        <ion-icon name="delete"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>