page-overview-token {
    .ion-ios-delete,
    .ion-ios-delete-outline,
    .ion-md-delete {
        content: url(../../assets/imgs/black/delete.svg);
        width: 22px;
        height: 22px;
    }
}