<ion-header>
  <ion-navbar>
    <ion-buttons start>
    </ion-buttons>

    <ion-title>My favorites</ion-title>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="isRegistered" (click)="onRefreshFavoritesButtonClicked()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onFilterTriggered($event)"></ion-searchbar>

  <ion-list inset>
    <ion-item *ngFor="let filteredFavorite of filteredFavorites">
      <ion-avatar item-start>
        <img src="{{ filteredFavorite.imageUrl }}" />
      </ion-avatar>

      <h3>{{ filteredFavorite.name }}</h3>
      <p>{{ filteredFavorite.symbol }}</p>

      <button ion-button round *ngIf="isRegistered" (click)="onCryptocurrencyChartButtonClicked(filteredFavorite)" item-end>
        <ion-icon name="chart"></ion-icon>
      </button>

      <button ion-button round *ngIf="isRegistered" (click)="onDeleteFavoriteButtonClicked(filteredFavorite)" item-end>
        <ion-icon name="delete"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>