<ion-header>
  <ion-navbar>
    <ion-title>Update setting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="settingForm" (ngSubmit)="onSubmit(settingForm.value)">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input formControlName="name" type="text" value="{{ setting.name }}"></ion-input>
    </ion-item>

    <ion-item *ngIf="settingForm.controls.name.hasError('required') && settingForm.controls.name.touched">
      <p>Name is required!</p>
    </ion-item>

    <ion-item *ngIf="settingForm.controls.name.hasError('maxlength') && settingForm.controls.name.touched">
      <p>Maximum name length is 250!</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Theme</ion-label>
      <ion-input formControlName="theme" type="text" value="{{ setting.theme }}"></ion-input>
    </ion-item>

    <ion-item *ngIf="settingForm.controls.theme.hasError('required') && settingForm.controls.theme.touched">
      <p>Theme is required!</p>
    </ion-item>

    <ion-item *ngIf="settingForm.controls.theme.hasError('maxlength') && settingForm.controls.theme.touched">
      <p>Maximum theme length is 250!</p>
    </ion-item>

    <button ion-button block [disabled]="!settingForm.valid" type="submit" icon-left>
      <ion-icon name="submit"></ion-icon> Submit
    </button>
  </form>
</ion-content>