page-wallets {
    .ion-ios-wallet,
    .ion-ios-wallet-outline,
    .ion-md-wallet {
        content: url(../../assets/imgs/wallet.svg);
        width: 32px;
        height: 32px;
    }

    .ion-ios-overview,
    .ion-ios-overview-outline,
    .ion-md-overview {
        mask-image: url(../../assets/imgs/overview.svg);
        mask-repeat: no-repeat;
        background-color: white;
        width: 12px;
        height: 12px;
    }

    .ion-ios-update,
    .ion-ios-update-outline,
    .ion-md-update {
        mask-image: url(../../assets/imgs/update.svg);
        mask-repeat: no-repeat;
        background-color: white;
        width: 12px;
        height: 12px;
    }

    .ion-ios-delete,
    .ion-ios-delete-outline,
    .ion-md-delete {
        mask-image: url(../../assets/imgs/delete.svg);
        mask-repeat: no-repeat;
        background-color: white;
        width: 10px;
        height: 12px;
    }
}