<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only *ngIf="isRegistered" (click)="onInsertWalletButtonClicked()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>My wallets</ion-title>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="isRegistered" (click)="onRefreshWalletsButtonClicked()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onFilterTriggered($event)"></ion-searchbar>

  <ion-list inset>
    <ion-item *ngFor="let filteredWallet of filteredWallets">
      <ion-avatar item-start>
          <ion-icon name="wallet"></ion-icon>
      </ion-avatar>

      <h3>{{ filteredWallet.name }}</h3>

      <button ion-button round *ngIf="isRegistered" (click)="onWalletOverviewButtonClicked(filteredWallet)" item-end>
          <ion-icon name="overview"></ion-icon>
      </button>

      <button ion-button round *ngIf="isRegistered" (click)="onUpdateWalletButtonClicked(filteredWallet)" item-end>
        <ion-icon name="update"></ion-icon>
      </button>

      <button ion-button round *ngIf="isRegistered" (click)="onDeleteWalletButtonClicked(filteredWallet)" item-end>
        <ion-icon name="delete"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>