<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button *ngIf="isAdministrator" ion-button icon-only (click)="onAddButtonClicked()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cryptocurrencies</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onRefreshButtonClicked()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="onFilterFieldUpdated($event)"></ion-searchbar>
  <ion-list inset>
    <ion-item *ngFor="let cryptocurrency of filteredCryptocurrencies">
      <ion-avatar item-start>
        <img src="{{ cryptocurrency.imageUrl }}" />
      </ion-avatar>
      <h3>{{ cryptocurrency.name }} ({{ cryptocurrency.symbol }})</h3>
      <button ion-button round (click)="onAnalyticsButtonClicked(cryptocurrency)" item-end>
        <ion-icon name="analytics"></ion-icon>
      </button>
      <button ion-button round (click)="onFavoriteButtonClicked(cryptocurrency)" item-end>
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>