page-cryptocurrencies {
    .ion-ios-chart,
    .ion-ios-chart-outline,
    .ion-md-chart {
        mask-image: url(../../assets/imgs/chart.svg);
        mask-repeat: no-repeat;
        background-color: white;
        width: 12px;
        height: 12px;
    }

    .ion-ios-favorite_,
    .ion-ios-favorite_-outline,
    .ion-md-favorite_ {
        mask-image: url(../../assets/imgs/favorite.svg);
        mask-repeat: no-repeat;
        background-color: white;
        width: 12px;
        height: 10px;
    }

    .ion-ios-update,
    .ion-ios-update-outline,
    .ion-md-update {
        mask-image: url(../../assets/imgs/update.svg);
        mask-repeat: no-repeat;
        background-color: white;
        width: 12px;
        height: 12px;
    }

    .ion-ios-delete,
    .ion-ios-delete-outline,
    .ion-md-delete {
        mask-image: url(../../assets/imgs/delete.svg);
        mask-repeat: no-repeat;
        background-color: white;
        width: 10px;
        height: 12px;
    }
}